.post_text {
    margin: 0 0 16px 0;
}

.post_title {
    line-height: 1em;
    margin: 0 0 4px 0;
}

.post_DateText {
    margin: 0 0 12px 0;
}

.post_imageContainer {
    margin: 8px 0 14px;
}

.post_excerpt {
    margin: 16px 0;
}

.post_excerpt p {
    line-height: 1.625em;
}