.post_text {
    margin: 16px 0 32px 0;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    color: white;
}

.post_title {
    line-height: 1em;
    margin: 0 0 4px 0;
}

.post_DateText {
    margin: 0 0 12px 0;
}

.post_imageContainer {
    margin: 8px 0 14px;
    width: 100%;
    height: 400px;
}

.post_imageContainer__placeholder {
    content: url('https://placehold.co/600x400?text=No+Image');
    width: 100%;
    height: 260px;
    background: #ddd;
    margin-top: 16px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.post_excerpt {
    margin: 16px 0;
}

.post_excerpt p {
    line-height: 1.625em;
}

.post_category_tag__container {
    display: inline-flex;
}

.post_category_tag {
    background: #4e5366;
    max-width: fit-content;
    padding: 2px 12px 5px 12px;
    border-radius: 12px;
    margin: 0 8px 0 0;
}

.post_category_tag span {
    font-weight: 600;
    font-size: .75em;
    text-rendering: optimizeLegibility;
}