a {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.125em;
}

body {
    background-color: #ececec !important;
}

footer {
    background-color: #002366;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

footer p {
    width: 100%;
    color: white;
}

.footerMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerMenu a {
    margin: 0 20px;
    color: white;
    font-size: 16px;
}

.footerMenu a:hover {
    margin: 0 20px;
    color: #ddd;
}

header {
    height: 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Saira Extra Condensed", sans-serif;
    margin-bottom: 0 !important;
}

label {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 0 0 8px 0;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

small {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}

h1 {
    font-size: 3em !important;
}

h2 {
    font-size: 2.5em !important;
}

html {
    overflow-x: hidden;
}

header {
    background-color: #002366;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

img {
    cursor: pointer;
}

p {
    color: black;
}

::placeholder {
    color: #b0b0b0 !important;
    font-weight: 300;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: #c8c8c8 !important;
}

::selection {
    background-color: #b6d0ff !important;
}

::-moz-selection {
    background-color: #b6d0ff !important;
}

.blogImage {
    border: 1px solid #c8c8c8;
}

.container {
    background-color: #fff !important;
    margin-top: 100px;
    padding: 36px 40px !important;
    min-height: 100vh;
}

.datePosted {
    font-style: italic;
    color: #747474;
    font-size: large;
    text-decoration: underline;
}

.imageCaption {
    float: right;
    margin-top: 8px;
}

.items-end {
    align-items: center !important;
}

.spacer {
    height: 20px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 2em !important;
    }
}

@media screen and (min-width: 825px) {
    #mobileLogo img {
        display: none;
    }
}

@media screen and (max-width: 824px) {
    #desktopLogo a {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #desktopMenu {
        display: none !important;
    }

    #mobileMenu {
        display: block !important;
    }
}

@media screen and (min-width: 640px) {
    .sm\:max-w-lg {
        max-width: 56rem;
        margin: 0 100px;
        z-index: 9999 !important;
    }
}

.row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#gallery img:nth-child(2n+1) {
    padding: 10px;
}

#gallery img:nth-child(2n) {
    padding: 0 10px;
}

.heroContainer {
    width: 100%;
    height: 550px;
    margin-top: 100px;
    margin-bottom: 32px;
    padding: 30px;
    background: linear-gradient(270deg, #45a2ff, #185868);
    background-size: 200% 200%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    -o-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;

    display: grid;
    align-items: center;
    justify-content: space-around;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.heroContainer a {
    text-decoration: none;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#desktopMenu {
    display: block;
}

#mobileMenu {
    display: none;
}

.modalContainer {
    clear: both;
}

.modalContainerVideo {
    background-color: #111;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modalContainerVideo svg {
    cursor: pointer;
    padding: 6px;
    float: right;
}

.modalContainer svg {
    position: absolute;
    cursor: pointer;
    margin: 12px;
    right: 0;
}

.playButton {
    position: absolute;
    z-index: 2;
}

#socialLinks .input-group {
    margin-bottom: 16px !important;
}

#videos h4 {
    margin-left: 12px;
}

.videoThumbnailContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoThumbnail:nth-child(2n+1) {
    padding: 10px;
}

.videoThumbnail:nth-child(2n) {
    padding: 0 10px;
}

#desktopMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: block;
}

#logo a {
    color: white;
    text-decoration: none;
}

#logo a:hover {
    color: #ddd;
}

#logo img {
    width: 200px;
}

#mobileMenuOverlay {
    background-color: white;
    position: fixed;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.mobileMenuItem {
    text-align: center;
    padding: 20px;
}

.mobileMenuItem a {
    color: black;
    font-size: 32px;
    font-weight: 300;
    text-decoration: none;
}

#websiteMenu, #socialMenu {
    margin: 0 10px 0 0;
}

#websiteMenu a, #socialMenu a {
    color: white;
    padding: 0 8px;
    text-decoration: underline;
}

#websiteMenu a:hover, #socialMenu a:hover {
    color: #ddd;
}

#socialMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialMenu img {
    max-width: 32px;
}

#socialMenuMobile {
    display: grid;
    align-items: center;
    justify-content: center;
}

#socialMenuMobile img {
    max-width: 64px;
    margin: 20px;
}

#mobileLogo img {
    max-width: 96px;
}